<br />
<div class="nested-fields">
  <div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-large-1-1 uk-width-1-1">
      <div class="uk-width-medium-1-1 uk-row-first">
        <span class="font-size-11">(Suggerimento immagine 750 x 576px)</span>
        <div class="dropzone" data-width="750"  data-image="<%= f.object.picture.url %>"  data-height="576"  data-editstart="false" data-ajax="false" data-canvas="true" style="width: 100%">
          <%= f.file_field :picture%>
        </div>
      </div>
      <br />
      <br />
      <div class="uk-width-medium-1-1 uk-row-first">
        <label>Posizione</label>
        <%= f.select(:position, ([["Sopra", "top"], ["Centrale", "middle"], ["Sotto", "bottom"]]) , {prompt: 'Seleziona posizione'}, {'data-md-selectize': true, required: true, class: 'md-input'}  ) %>
        <span class="md-input-bar "></span>
      </div>
    </div>
    <br />
    <br />
    <div class="uk-width-medium-1-1 uk-row-first">
      <div class="md-input-wrapper text-align-right">
        <%= link_to_remove_association '<i class="material-icons md-24 "></i>'.html_safe, f, {class: 'btnSectionRemove'} %>
      </div>
    </div>
  </div>
</div>
