<div class="nested-fields">
  <div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-2 uk-row-first">
      <div class="uk-input-group subcategory-container">

        <div class="md-input-wrapper md-input-filled"><label>Is Primary</label>

          <%= f.check_box :is_primary, class: 'md-input' %>

        </div>

        <div class="md-input-wrapper md-input-filled"><label>Photo</label>
          <%= f.file_field :picture, class: 'dropify ', 'data-allowed-formats':"portrait square" , 'data-errors-position': "outside"  %>

        </div>


        <span class="uk-input-group-addon">
          <%= link_to_remove_association '<i class="material-icons md-24"></i>'.html_safe, f, {class: 'btnSectionRemove'} %>

        </span>
      </div>
    </div>
  </div>
</div>
