#header-custom-background{
  background: #7fb1b6 !important;
}

.sidebar-header{
  width: 65% !important;
  padding: 10px;
}

.sidebar-header-link{
  color: #fff !important;
  padding: 10px;
}

.login-form-override{
  background: #7fb1b6 !important;
}

.white-label{
  color: #fff !important;
}

.yellow-button{
  background: #D8E903 !important;
}

.half{
  width: 50% !important;
}

.w500i{
  width: 500px !important;
}

.advertisement-photo-container:parent{
  width: 200px !important;
}

.center{
  text-align: center !important;
}
.current_section_submenu{
  color: #7FB1B6 !important;
}

.city-selector{
  margin-top: -2px;
  background: #fff !important;
  width: 200px !important;
}

.subcategory-container{
  margin-top: 20px;
  margin-bottom: 20px;
}

.default-submit{
  float: right;
}

.marginB25{
  margin-bottom: 25px !important;
}

.text-align-right{
  text-align: right !important;
}

.green_selectize{
  background: #7FB1B6 !important;
  color: #fff !important;
}
.green_selectize +div{
  background: #7FB1B6 !important;
  color: #fff !important;
}
.sidebar_actions .md-input-wrapper .selectize-input{
  background: #7FB1B6 !important;
  color: #fff !important;
}

.sidebar_actions .md-input-wrapper .selectize-input::after{
  color: #fff !important
}
