<div class="md-card uk-margin-medium-bottom">
  <div class="md-card-content">
    <div class="uk-overflow-container">
      <h3 class="heading_a">Edit City</h3>
      <%= render 'form' %>
    </div>
  </div>
</div>
