<ul class="uk-nestable" id="nestable">
    <% @admin_categories.each do  |category|%>
    <li data-id="<%= category.id %>" class="uk-nestable-item">
        <div class="uk-nestable-panel">
            <%= link_to category.name, edit_admin_category_path(category) %> <br/>
            <span class="uk-text-muted uk-text-small"><%= category.subcategories.map(&:name).join(', ')%></span>
        </div>
    </li>
    <% end %>
</ul>







<div class="md-card uk-margin-medium-bottom">
    <div class="md-fab-wrapper">
        <a class="md-fab md-fab-accent md-fab-wave-light waves-effect waves-button waves-light" href="/admin/categories/new" id="invoice_add">
            <i class="material-icons"></i>
        </a>
    </div>
</div>
